* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 60px;
    position: sticky;
    z-index: 100;
    top: 0%;
}

.nav_links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 50px;
    gap: 20px;
    transition: color 0.3s ease;
}

.logo {
    font-weight: 800;
    font-family: sans-serif;
    margin-left: 50px;
    line-height: 2rem;
    font-size: 1.0rem;
}

.sports {
    color: #059669;
}
.nav_links a, li  {
    text-decoration: none;
    list-style: none;
    color: black;
}

 a:hover{
    color: #059669;
    transition: color 0.3 ease;
}

.image_sect {
    height: 20px;
    margin-bottom: 500px;
}


.image_container {
  height: 50vh;

  background:
    linear-gradient(
      to top,
      rgba(16, 1, 1, 0.815),
      rgba(24, 2, 2, 0.394)
    ),
    url("photo-png.avif");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.pill{
    display: inline-block;
    font-weight: 600;
    padding: 0.4rem 0.9rem;
    font-size: 0.75rem;
    color: #059669;
    border-radius: 999px;
    background-color: hsla(161, 70%, 73%, 0.615);
    letter-spacing: 0.02em;
    margin-top: 50px;
    margin-bottom: 2rem;
}

.img_text {
    margin-left: 30px;
}

.img_text h1 {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 1.2;
    color: #ffffff;
    max-width: 700px;
    margin-bottom: 1rem;
}

.img_text p{
    font-size: 1rem;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.85);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn_links{
    margin-top: 30px;
}

.pry_btn{
    background-color: #059669;
    color: #ffffff;
    margin-right: 15px;
    border: 2px solid #059669;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    font-family: cursive;
    transition: all 0.3s ease;
}

.pry_btn:hover{
    background-color: #057652;
    border: none;
    color: #ffffff;
    transition: all 0.3s ease;
}


.sdy_btn{
    display: inline-block;
    border: 2px solid #059669;
    text-decoration: none;
    padding: 12px 12px;  
    border-radius: 8px;
    color: aliceblue;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.3 ease;

}

.wrapper{
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gear_wrapper{
    display: inline-block;
}

.gear_wrapper h2 {
    font: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.gear_wrapper p {
    color: rgb(100 116 137);
    margin-top: 0.5rem;
}
.arrow_div{
    color: #059669;
}

.arrow_div a {
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    gap: 0.5rem;
    color: #059669;
}

.grid_cards {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cards {
    background-color: #c5b2b2;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 15px black;
    
}
